using System;
using System.Collections.Generic;
using System.Text;
using Wordschatz.Application.Commands;
using Wordschatz.Common.Commands;

namespace Wordschatz.Application.CommandHandlers
{
    public class <+command_name+>CommandHandler : ICommandHandler<<+command_name+>Command>
    {
        public void Execute(<+command_name+>Command command)
        {

        }
    }
}